
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
 header{
    background-color: lightpink;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdf6f9;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.steps {
    display: flex;
    justify-content: space-around;

    margin-left: 400px;
    gap: 200px;
}
.circle{
    display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #aaa;
  color: #aaa;
  font-size: 16px;
  margin-right: 2px;
}
  
  
  .signup-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  
  .input-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  label {
    font-size: 14px;
    color: #555;
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  input:focus {
    border-color: lightpink;
  }
  
  
  .signup-button {
    width: 100%;
    padding: 10px;
    background-color:rgb(253, 145, 163);
    color:black;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .signup-button:hover {
    background-color: pink;
  }
  
  
  .login-link {
    margin-top: 20px;
  }
  
  .login-link a {
    color: rgb(179, 68, 87);
    text-decoration: none;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 480px) {
    .signup-container {
      padding: 20px;
    }
  
    h2 {
      font-size: 20px;
    }
  
    input {
      padding: 8px;
    }
  
    .signup-button {
      padding: 8px;
      font-size: 14px;
    }
  }



  