*{
    margin: 0;
    padding: 0;
    font-family: "Mukta", sans-serif;
}

.nav-1{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: rgb(117, 207, 236);
    padding: 15px;
    
}
.feature{
    display: flex;
}  
.feature .app{
    display: flex;
    margin-inline: 22px;
}
.feature .app i{
    padding-top: 4px;
    margin-inline: 8px;
}

.nav-2{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 11px;
}
.nav-2 ul li img{
    width: 8%;
    margin-left: 22px;

}

.nav-2 ul li a{
    margin-inline: 22px;
    cursor: pointer;
}
.nav-2 ul li a:hover{
    
    color: rgb(249, 109, 132);
    border-radius:7px ;
}

.nav-2 .inputs{
    display: flex;

}
.nav-2 .inputs button{
    margin-inline: 22px;
}
.nav-2 .inputs input{
    width: 220px;
    background-color: rgb(205, 197, 197);
    border: none;
    outline: none;
    text-align: center;
    font-size: 16px;

}
.nav-2 .inputs button{
    width: 80px;
    height: 35px;
    background-color: rgb(249, 78, 106);
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 7px;
}
.items{
    display: flex;
    justify-content: space-around;
    padding: 5px;
}
.items ul li a{
    margin-inline: 40px;
    text-align: center;
    text-decoration: none;
   
}
.items ul li a:hover{
    color: rgb(248, 93, 119);
    border-radius: 7px;
   
    
}
.items ul li{
    list-style: none;
}
.items ul li button{
    width: 80px;
    height: 35px;
    background-color: rgb(249, 78, 106);
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 5px;
}

.main-img{
    background-size: cover;
    //width: 100%;
    //margin-inline:320px;
}
.pink img{
    width: 100%;
}
.pink h2{
    text-align: center;
    padding: 8px ;
} 
.card{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 32px;
}
.card img{
    margin-inline: 22px;
    width:44%;
}
.brand h2{
    text-align: center;
    padding: 22px;
}
.topbrand{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.topbrand img{

    margin-inline: 22px;
    width: 30%;

}
.offers{
   padding: 22px;
   margin-inline: 100px;
}

.only-nykaa h2{
    text-align: center;
    padding: 15px;
}
.only{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
 .only img{
    margin-inline: 22px;
    width: 44%;
 }
 .sms img{
    margin-top: 22px;
 }
 .sms h2{
    padding: 10px;
    margin-inline: 40px;
 }

 .footer{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color:   rgb(194, 186, 186);
    margin-top: 30px;
    padding: 30px;
 }
 .footer ul li{
    list-style: none;
 }
 .footer ul li a{
    font-weight: 600;
    font-size: 13px;
 }
 .footer ul li h2{
    font-size: 18px;
 }


    

